<%= @data.data_fields %>
<%= @data.name %>
<%= @data.database_code %>
<p>
  <%= @data.description %>
</p>

  <%= @data.column_names %>

  <%= @data.column_names[3] %>
<p>
  <%= @datell %>
  <%= @data.data.first.close %>
</p>
